body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    
    
  }
  
  .container {
    background-image: url("https://media.istockphoto.com/id/1358125041/photo/raw-rose-quartz-stone-textured-surface-background.webp?b=1&s=170667a&w=0&k=20&c=6qQBv9_vq4szGlxHw4I6gZayCC39v2ZYB60HoOoAirY=");
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .container h2 {
    text-align: center;
    color: white;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .form-group input[type="text"],
  .form-group select {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group input[type="radio"] {
    margin-right: 5px;
  }
  
  .button-container {
    text-align: center;
  }
  
  .button-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button-container button:hover {
    background-color: #45a049;
  }
