/* singlepeod.css */

.single-product-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .product-photo {
    flex: 1;
  }
  
  .product-photo img {
    width: 50%;
    height: 50%;
    border-radius: 8px; /* Optional: Add border-radius for rounded corners */
  }
  
  .product-details {
    flex: 1;
    margin-left: 20px;
  }
  
  .brand-tag,
  .category-tag {
    display: inline-block;
    background-color: #f0f0f0;
    color: #333;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 20px;
  }
  
  .product-description {
    margin-top: 20px;
  }
  
  .action-buttons {
    margin-top: 20px;
  }
  
  .action-buttons button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .action-buttons button:last-child {
    margin-right: 0;
  }
  